# Artificial Intelligence Project

## 21I-0851 Muhammad Kashif

### All The Libraries

In [29]:
from collections import Counter
import pandas as pd
import numpy as np
import openpyxl
import random

### Declarations

In [32]:
# Creating column names for the timetable dataframe corresponding to the actual FAST timetable
time = ['08:30-09:50',
        '10:05-11:25',
        '11:40-01:00',
        '01:15-02:35',
        '02:50-04:10',
        '04:25-05:45']

labs = ['C-Margalla 1', 'C-Margalla 2', 'C-Margalla 3', 'C-Rawal 1', 'C-Rawal 1', 'C-Rawal 1', 'C-Rawal 2',
        'C-Rawal 3', 'C-Rawal 4', 'C-GPU Lab', 'A-Karakoram 1', 'A-Karakoram 2', 'A-Karakoram 3', 'A-Mehran 1',
        'A-Mehran 2', 'A-CALL 1', 'A-CALL 2', 'A-CALL 3', 'B-Digital']

lab_courses = {
    "Object Oriented Programming Lab (CS)": {
        "CS-2A": "Ms. Sher Bano",
        "CS-2B": "Ms. Sher Bano1",
        "CS-2C": "Ms. Amna Hassan",
        "CS-2D": "Ms. Amna Hassan1",
        "CS-2E": "Ms. Bushra Fatima Tariq",
        "CS-2F": "Ms. Amna Hassan2",
        "CS-2G": "Ms. Sher Bano2",
        "CS-2H": "Ms. Bushra Fatima Tariq1",
        "CS-2J": "Ms. Bushra Fatima Tariq2",
        "CS-2K": "Ms. Amna Hassan3",
        "CS-Z": "Ms. Mahnoor Munir (Visiting)"
    },
    "Digital Logic Design Lab (CS)": {
        "CS-2A": "Ms. Ifrah Masood (EE)",
        "CS-2B": "Mr. Abdul Hannan",
        "CS-2C": "Mr. Abdul Hannan1",
        "CS-2D": "Mr. Fakhar Abbas (EE)",
        "CS-2E": "Mr. Abdul Hannan2",
        "CS-2F": "Ms. Ifrah Masood1 (EE)",
        "CS-2G": "Mr. Fakhar Abbas1 (EE)",
        "CS-2H": "Mr. Abdul Hannan3",
        "CS-2J": "Mr. Fakhar Abbas1 (EE)",
        "CS-2K": "Ms. Ifrah Masood2 (EE)"
    },
    "Object Oriented Programming Lab (AI)": {
        "AI-2A": "Ms. Ansa Liaqat",
        "AI-2B": "Ms. Khadija Mahmood",
        "AI-2C": "Ms. Ansa Liaqat1",
        "AI-2D": "Ms. Khadija Mahmood1"
    },
    "Object Oriented Programming Lab (DS)": {
        "DS-2A": "Ms. Laraib Afzaal",
        "DS-2B": "Ms. Laraib Afzaal1",
        "DS-2C": "Ms. Laraib Afzaal1",
        "DS-2D": "Ms. Ansa Liaqat"
    },
    "Object Oriented Programming Lab (SE)": {
        "SE-2A": "Mr. Samiullah Shah",
        "SE-2B": "Ms. Zoya Sumbal",
        "SE-2C": "Mr. Samiullah Shah1",
        "SE-2D": "Ms. Laiba Imran",
        "SE-2E": "Ms. Laiba Imran1",
        "SE-2F": "Ms. Laiba Imran1",
        "SE-2G": "Ms. Zoya Sumbal1"
    },
    "Object Oriented Programming Lab (CY)": {
        "CY-2A": "Ms. Saadia Saad",
        "CY-2B": "Ms. Sundus Amir",
        "CY-2C": "Ms. Saadia Saad1",
        "CY-2D": "Ms. Saadia Saad2"
    }
}

lab_courses_t = {
    "Data Structures Lab (CS)": {
        "CS-3A": "Ms. Sher Bano",
        "CS-3B": "Ms. Sher Bano1",
        "CS-3C": "Ms. Amna Hassan",
        "CS-3D": "Ms. Amna Hassan1",
        "CS-3E": "Ms. Bushra Fatima Tariq",
        "CS-3F": "Ms. Amna Hassan2",
        "CS-3G": "Ms. Sher Bano2",
        "CS-3H": "Ms. Bushra Fatima Tariq1",
        "CS-3J": "Ms. Bushra Fatima Tariq2",
        "CS-3K": "Ms. Amna Hassan3",
        "CS-3": "Ms. Mahnoor Munir (Visiting)"
    },
    "COAL Lab (CS)": {
        "CS-3A": "Ms. Ifrah Masood (EE)",
        "CS-3B": "Mr. Abdul Hannan",
        "CS-3C": "Mr. Abdul Hannan1",
        "CS-3D": "Mr. Fakhar Abbas (EE)",
        "CS-3E": "Mr. Abdul Hannan2",
        "CS-3F": "Ms. Ifrah Masood1 (EE)",
        "CS-3G": "Mr. Fakhar Abbas1 (EE)",
        "CS-3H": "Mr. Abdul Hannan3",
        "CS-3J": "Mr. Fakhar Abbas1 (EE)",
        "CS-3K": "Ms. Ifrah Masood2 (EE)"
    },
    "Data Structures Lab (AI)": {
        "AI-3A": "Ms. Ansa Liaqat",
        "AI-3B": "Ms. Khadija Mahmood",
        "AI-3C": "Ms. Ansa Liaqat1",
        "AI-3D": "Ms. Khadija Mahmood1"
    },
    "Data Structures Lab (DS)": {
        "DS-3A": "Ms. Laraib Afzaal",
        "DS-3B": "Ms. Laraib Afzaal1",
        "DS-3C": "Ms. Laraib Afzaal1",
        "DS-3D": "Ms. Ansa Liaqat"
    },
    "Data Structures Lab (SE)": {
        "SE-3A": "Mr. Samiullah Shah",
        "SE-3B": "Ms. Zoya Sumbal",
        "SE-3C": "Mr. Samiullah Shah1",
        "SE-3D": "Ms. Laiba Imran",
        "SE-3E": "Ms. Laiba Imran1",
        "SE-3F": "Ms. Laiba Imran1",
        "SE-3G": "Ms. Zoya Sumbal1"
    },
    "Data Structures Lab (CY)": {
        "CY-2A": "Ms. Saadia Saad",
        "CY-2B": "Ms. Sundus Amir",
        "CY-2C": "Ms. Saadia Saad1",
        "CY-2D": "Ms. Saadia Saad2"
    }
}


lab_courses_w = {
    "Database Systems Lab (CS)": {
        "CS-4A": "Ms. Sher Bano",
        "CS-4B": "Ms. Sher Bano1",
        "CS-4C": "Ms. Amna Hassan",
        "CS-4D": "Ms. Amna Hassan1",
        "CS-4E": "Ms. Bushra Fatima Tariq",
        "CS-4F": "Ms. Amna Hassan2",
        "CS-4G": "Ms. Sher Bano2",
        "CS-4H": "Ms. Bushra Fatima Tariq1",
        "CS-4J": "Ms. Bushra Fatima Tariq2",
        "CS-4K": "Ms. Amna Hassan3",
        "CS-4Y": "Ms. Mahnoor Munir (Visiting)"
    },
    "Operating Systems (CS)": {
        "CS-4A": "Ms. Ifrah Masood (EE)",
        "CS-4B": "Mr. Abdul Hannan",
        "CS-4C": "Mr. Abdul Hannan1",
        "CS-4D": "Mr. Fakhar Abbas (EE)",
        "CS-4E": "Mr. Abdul Hannan2",
        "CS-4F": "Ms. Ifrah Masood1 (EE)",
        "CS-4G": "Mr. Fakhar Abbas1 (EE)",
        "CS-4H": "Mr. Abdul Hannan3",
        "CS-4J": "Mr. Fakhar Abbas1 (EE)",
        "CS-4K": "Ms. Ifrah Masood2 (EE)"
    },
    "Database Systems Lab (AI)": {
        "AI-4A": "Ms. Ansa Liaqat",
        "AI-4B": "Ms. Khadija Mahmood",
        "AI-4C": "Ms. Ansa Liaqat1",
        "AI-4D": "Ms. Khadija Mahmood1"
    },
    "Database Systems Lab (DS)": {
        "DS-4A": "Ms. Laraib Afzaal",
        "DS-4B": "Ms. Laraib Afzaal1",
        "DS-4C": "Ms. Laraib Afzaal1",
        "DS-4D": "Ms. Ansa Liaqat"
    },
    "Artificial Intelligence Lab (SE)": {
        "SE-6A": "Mr. Samiullah Shah",
        "SE-6B": "Ms. Zoya Sumbal",
        "SE-6C": "Mr. Samiullah Shah1",
        "SE-6D": "Ms. Laiba Imran",
        "SE-6E": "Ms. Laiba Imran1",
        "SE-6F": "Ms. Laiba Imran1",
        "SE-6G": "Ms. Zoya Sumbal1"
    },
    "Computer Networks (CY)": {
        "CY-6A": "Ms. Saadia Saad",
        "CY-6B": "Ms. Sundus Amir",
        "CY-6C": "Ms. Saadia Saad1",
        "CY-6D": "Ms. Saadia Saad2"
    }
}

lab_courses_th = {
    "Programming Fundamentals Lab (CS)": {
        "CS-1A": "Ms. Sher Bano",
        "CS-1B": "Ms. Sher Bano1",
        "CS-1C": "Ms. Amna Hassan",
        "CS-1D": "Ms. Amna Hassan1",
        "CS-1E": "Ms. Bushra Fatima Tariq",
        "CS-1F": "Ms. Amna Hassan2",
        "CS-1G": "Ms. Sher Bano2",
        "CS-1H": "Ms. Bushra Fatima Tariq1",
        "CS-1J": "Ms. Bushra Fatima Tariq2",
        "CS-1K": "Ms. Amna Hassan3",
        "CS-1Y": "Ms. Mahnoor Munir (Visiting)"
    },
    "CPS Lab (CS)": {
        "CS-2A": "Ms. Ifrah Masood (EE)",
        "CS-2B": "Mr. Abdul Hannan",
        "CS-2C": "Mr. Abdul Hannan1",
        "CS-2D": "Mr. Fakhar Abbas (EE)",
        "CS-2E": "Mr. Abdul Hannan2",
        "CS-2F": "Ms. Ifrah Masood1 (EE)",
        "CS-2G": "Mr. Fakhar Abbas1 (EE)",
        "CS-2H": "Mr. Abdul Hannan3",
        "CS-2J": "Mr. Fakhar Abbas1 (EE)",
        "CS-2K": "Ms. Ifrah Masood2 (EE)"
    },
    "English Lab (AI)": {
        "AI-1A": "Ms. Ansa Liaqat",
        "AI-1B": "Ms. Khadija Mahmood",
        "AI-1C": "Ms. Ansa Liaqat1",
        "AI-1D": "Ms. Khadija Mahmood1"
    },
    "Big Data Lab (DS)": {
        "DS-5A": "Ms. Laraib Afzaal",
        "DS-5B": "Ms. Laraib Afzaal1",
        "DS-5C": "Ms. Laraib Afzaal1",
        "DS-5D": "Ms. Ansa Liaqat"
    },
    "Data Analysis Lab (SE)": {
        "SE-5A": "Mr. Samiullah Shah",
        "SE-5B": "Ms. Zoya Sumbal",
        "SE-5C": "Mr. Samiullah Shah1",
        "SE-5D": "Ms. Laiba Imran",
        "SE-5E": "Ms. Laiba Imran1",
        "SE-5F": "Ms. Laiba Imran1",
        "SE-5G": "Ms. Zoya Sumbal1"
    },
    "Computer Networks (CY)": {
        "CY-4A": "Ms. Saadia Saad",
        "CY-4B": "Ms. Sundus Amir",
        "CY-4C": "Ms. Saadia Saad1",
        "CY-4D": "Ms. Saadia Saad2"
    }
}


room = ['C301', 'C302', 'C303', 'C304', 'C305', 'C307', 'C308', 'C309', 'C310', 'C311',
        'C401', 'C402', 'C403', 'C404', 'C405', 'C406', 'C407', 'C408', 'C409', 'C410',
        'B227', 'B229', 'B230',
        'A301', 'A302', 'A303', 'A305', 'A310', 'A311', 'A314', 'A315', 'A316', 'A108',
        'B130',
        'A211']

# Separate lab_courses, lab_sections, and lab_instructors
lab_courses_names = list(lab_courses.keys())  # List of lab course names

lab_sections = {}  # Dictionary to store lab sections
lab_instructors = {}  # Dictionary to store lab instructors

for course, sections in lab_courses.items():
    lab_sections[course] = list(sections.keys())  # Store section names for each course
    lab_instructors[course] = list(sections.values())  # Store instructor names for each course

lab_courses_names_t = list(lab_courses_t.keys())  # List of lab course names
#Tuesday
lab_sections_t = {}  # Dictionary to store lab sections
lab_instructors_t = {}  # Dictionary to store lab instructors

for course, sections in lab_courses_t.items():
    lab_sections_t[course] = list(sections.keys())  # Store section names for each course
    lab_instructors_t[course] = list(sections.values())  # Store instructor names for each course

#Wednesday
lab_courses_names_w = list(lab_courses_w.keys())  # List of lab course names

lab_sections_w = {}  # Dictionary to store lab sections
lab_instructors_w = {}  # Dictionary to store lab instructors

for course, sections in lab_courses_w.items():
    lab_sections_w[course] = list(sections.keys())  # Store section names for each course
    lab_instructors_w[course] = list(sections.values())  # Store instructor names for each course

#Thursaday
lab_courses_names_th = list(lab_courses_th.keys())  # List of lab course names

lab_sections_th = {}  # Dictionary to store lab sections
lab_instructors_th = {}  # Dictionary to store lab instructors

for course, sections in lab_courses_th.items():
    lab_sections_th[course] = list(sections.keys())  # Store section names for each course
    lab_instructors_th[course] = list(sections.values())  # Store instructor names for each course

# Defining the file path for the course allocation excel file
filepath = r'Courses.xlsx'

# Getting all the sheet names inside the excel file (path given)
sheet_names = openpyxl.load_workbook(filepath).sheetnames

# Defining population size for the chromosomes
population_size = 32

# Defining the number of generations for evolution of the chromosomes
generations = 10000

# Defining the probabilty for the mutation function (probability that mutation will occur on that row)
probability = 0.085

This code is taken from the interent, and it allows us to see the entire timetable output without us using the scrollbar. It just makes the output a little "prettier".

In [33]:
%%html
<style>
.output_wrapper, .output {
    height:auto !important;
    max-height:3156px;
}
.output_scroll {
    box-shadow:none !important;
    webkit-box-shadow:none !important;
}
</style>

### Some Functions

In [34]:
def create_and_clean_dataframe(sheet: str = None, path: str = None) -> pd.DataFrame():
    '''
    Takes in the sheet name of the excel file and reads the file according
    to the constraints applied to the specific sheets. Also, it cleans the
    dataframe once the excel information has been converted to a dataframe.
    Then, it merges the Section column with the Batches and returns the df.
    '''

    if sheet not in globals()['sheet_names']:
        raise Exception('Error: Sheet not found')
    if sheet == 'S&H':
        try:
            df = pd.read_excel(path, sheet_name = sheet, skiprows = 2, usecols = [0, 2, 4, 5], skipfooter = 58)
        except Exception:
            print("Error: an exception occurred while opening the document")
    else:
        try:
            df = pd.read_excel(path, sheet_name = sheet, skiprows = 2, usecols = [0, 2, 4, 5])
        except Exception:
            print("Error: an exception occurred while opening the document")

    df = df.dropna(subset = ['Course', 'Section', 'Course Instructor'], how = 'all').reset_index(drop = True)
    df['S.#'] = df['S.#'].str.cat(df['Section'], sep = ' , ')

    return df.drop(['Section'], axis = 1)


def map_timetable_to_dataframe(timetable: pd.DataFrame() = None, timetable_list: list = None) -> pd.DataFrame():
    '''
    Takes in the empty timetable dataframe and the generated timetable
    list as its parameters. Then, it maps the values in the generated
    timetable index by index to the pandas dataframe corresponding to
    those indexes. Returns the newly created timetable dataframe.
    '''

    for i in range(len(globals()['room'])):
        for j in range(len(globals()['time'])):
            timetable.iloc[i,j] = ' '.join(timetable_list[i][j])

    return timetable

def break_chromosome(chromosome: list = None, mid: int = 2) -> list:
    '''
    Takes in a chromosome (timetable) and a mid index value as parameters
    and breaks the chromosome into two equal pieces, then returns those
    two pieces.
    '''
    return chromosome[:mid], chromosome[mid:]

In [59]:
def binary_encode_chromosome(chromosome_info):
    '''
    Binary encodes the given chromosome information.

    Parameters:
    chromosome_info (list): List containing chromosome information in the order:
    [Course, Theory/Lab, Section, Section-Strength, Professor, First-lecture-day,
    First-lecture-timeslot, First-lecture-room, First-lecture-room-size, Second-
    lecture-day, Second-lecture-timeslot, Second-lecture-room, Second-lecture-
    room-size]

    '''
    binary_encoded_chromosome = []

    for item in chromosome_info:
        binary_value = bin(item)[2:]  # Convert to binary, remove '0b' prefix
        binary_encoded_chromosome.append(binary_value)

    return binary_encoded_chromosome

### Necessary Functions

In [35]:
def fitness(chromosome: list = None) -> int:
    '''
    Takes in the chromosome (generated timetable) as the parameter and checks
    all the hard and soft constraints that are applied to the timetable. The
    constraints are as follows:
          i. Teacher can't have two classes at the same time
         ii. Student can't have two classes at the same time
        iii. Teacher can't have more than 3 classes in a day
         iv. Student can't have more than 4 classes in a day
    These constraints are individually checked in this function and for each
    constraint that has been cleared, points are added to the score system.
    Hard constrains (first 2) get more points than the the soft constrains.
    Also, to not get the function to return the same score due to repitition,
    score deduction has also been added corresponding to the number of times
    a constraint is violated. Then it returns the final score.
    '''

    score = 0

    # Checking if teacher has two classes at the same time'
    count = 0
    flag = False
    for i in range(len(globals()['room'])):
        for j in range(len(globals()['time'])):
            temp = chromosome[i][j][2]
            for k in range(i + 1, len(globals()['room'])):
                if temp == chromosome[k][j][2]:
                    count = count + 1
                    flag = True
    if not flag:
        score = score + 36
    else:
        score = score + (36 - (count * 6))

    # Checking if student has two classes at the same time
    count = 0
    flag = False
    for i in range(len(globals()['room'])):
        for j in range(len(globals()['time'])):
            temp = chromosome[i][j][0]
            for k in range(i + 1, len(globals()['room'])):
                if temp == chromosome[k][j][0]:
                    count = count + 1
                    flag = True
    if not flag:
        score = score + 36
    else:
        score = score + (36 - (count * 6))

    # Checking if teacher has more than 3 classes in a day
    count = 0
    check_teacher = [chromosome[j][i][2] for i in range(len(globals()['time'])) for j in range(len(globals()['room']))]
    c = Counter(check_teacher)
    for key, value in c.items():
        if value > 3:
            count = count + 1
    if count == 0:
        score = score + 14
    else:
        score = score + (14 - count)

    # Checking if student has more than 4 classes in a day
    count = 0
    check_student = [chromosome[j][i][0] for i in range(len(globals()['time'])) for j in range(len(globals()['room']))]
    c = Counter(check_student)
    for key, value in c.items():
        if value > 4:
            count = count + 1
    if count == 0:
        score = score + 14
    else:
        score = score + (14 - count)

    scoree = 0
    '''
    #Checking if classrooms are big enough to accommodate the section
    for i in range(len(globals()['room'])):
        for j in range(len(globals()['time'])):
            section_size = chromosome[i][j][1]
            room_capacity = globals()['room'][i][1]  # Assuming room list contains room capacity information
            if section_size > room_capacity:
                scoree -= 50  # Penalize heavily for this constraint violation

    # The same section cannot be assigned to two different rooms at the same time
    for i in range(len(globals()['room'])):
        for j in range(len(globals()['time'])):
            section = chromosome[i][j][0]
            for k in range(i + 1, len(globals()['room'])):
                if section == chromosome[k][j][0]:
                    scoree -= 50  # Penalize heavily for this constraint violation

    #A room cannot be assigned for two different sections at the same time
    for i in range(len(globals()['room'])):
        for j in range(len(globals()['time'])):
            room = chromosome[i][j][2]
            for k in range(i + 1, len(globals()['room'])):
                if room == chromosome[k][j][2]:
                    scoree -= 50  # Penalize heavily for this constraint violation

    # No professor can teach more than 3 courses
    teacher_courses = [chromosome[i][j][2] for i in range(len(globals()['room'])) for j in range(len(globals()['time']))]
    c = Counter(teacher_courses)
    for key, value in c.items():
        if value > 3:
            scoree -= 100  # Penalize heavily for this constraint violation

    #No section can have more than 5 courses in a semester
    section_courses = [chromosome[i][j][0] for i in range(len(globals()['room'])) for j in range(len(globals()['time']))]
    c = Counter(section_courses)
    for key, value in c.items():
        if value > 5:
            scoree -= 100  # Penalize heavily for this constraint violation

    # 15 minutes breaks allowed between consecutive classes
    for i in range(len(globals()['room'])):
        for j in range(1, len(globals()['time'])):  # Start from index 1 for time
            if chromosome[i][j][0] != chromosome[i][j-1][0]:  # If current section is different from previous
                scoree += 5  # Award points for having a break between classes

    #SOFT CONSTRAINTS
    # All theory classes in the morning, lab sessions in the afternoon
    for i in range(len(globals()['room'])):
        for j in range(len(globals()['time'])):
            session_type = chromosome[i][j]  # Assuming session type info is stored at index 3
            if session_type == "Theory" and j >= len(globals()['time']) / 2:
                scoree -= 20  # Penalize for theory classes in afternoon
            elif session_type == "Lab" and j < len(globals()['time']) / 2:
                scoree -= 20  # Penalize for lab sessions in morning

    # Minimize floor traversals for teachers and students
    teacher_floors = [chromosome[i][j] for i in range(len(globals()['room'])) for j in range(len(globals()['time']))]
    student_floors = [chromosome[i][j] for i in range(len(globals()['room'])) for j in range(len(globals()['time']))]
    teacher_floors_count = 0
    student_floors_count = 0
    scoree += max(0, 10 - teacher_floors_count)  # Award points for teacher floor consistency
    scoree += max(0, 10 - student_floors_count)  # Award points for student floor consistency

    # A class should be held in the same classroom across the whole week
    class_in_same_room = set()
    for i in range(len(globals()['room'])):
        room_schedule = [chromosome[i][j] for j in range(len(globals()['time']))]
        if room_schedule == 1:  # If the room is used consistently throughout the week
            class_in_same_room.add(room_schedule[0])
    scoree += len(class_in_same_room) * 5  # Award points for each class held in the same room across the week

    # Teachers prefer longer blocks of continuous teaching time
    teacher_blocks = []
    for i in range(len(globals()['room'])):
        room_schedule = [chromosome[i][j] for j in range(len(globals()['time']))]
        teacher_blocks.append(room_schedule)  # Count the number of different courses in a day for each teacher
    scoree -= 5  # Penalize for shorter continuous teaching blocks
    '''
    return score


# This is a very simple selection function. There are many selection functions
# e.g Roulette Wheel Selection, Rank Selection, Steady State Selection, Tournament Selection
# Elitist Selection, Boltzmann Selection, to name a few. I've used a simple straightforward
# top fitness selection method, whhere I select the top 4 based on the fitness score as parents
# from the population (a very naive approach, I know.. but still works... I didn't have
# the time to implement the other selection methods). In the future, I hope to implement them all.
def selection(population: list = None) -> list:
    '''
    Takes in the entire population of generated timetables. This function
    generated another list that has the corresponding fitness scores to the
    individual chromosomes at its indexes. Calculates the best four relative
    to their fitness scores, and fetches their index. We use those indexes
    to return the best two as parents.
    '''


    population_fitness = [fitness(chromosome) for chromosome in population]

#     max_index = population_fitness.index(max(population_fitness))
#     population_fitness.remove(max(population_fitness))
#     second_max_index = population_fitness.index(max(population_fitness))
#     population_fitness.remove(max(population_fitness))
#     third_max_index = population_fitness.index(max(population_fitness))
#     population_fitness.remove(max(population_fitness))
#     fourth_max_index = population_fitness.index(max(population_fitness))

    top_4 = sorted(range(len(population_fitness)), key=lambda x: population_fitness[x])[-4:]
    top_4.reverse()

    parents = [population[top_4[0]], population[top_4[1]], population[top_4[2]], population[top_4[3]]]

    return parents


def crossover(parents: list = None) -> list:
    '''
    Takes in the two parents as the parameters. This function takes the
    parents and stores them separately. Then, splits those parents into
    two equal parts and co-joins them in a way that child one gets the
    first parents first half, and the second parents second half and
    vice versa. Then, it returns those two childs separately.
    '''

    mid_idx = len(parents[0]) // 2

    p1_1st, p1_2nd = break_chromosome(parents[0], mid_idx)
    p2_1st, p2_2nd = break_chromosome(parents[1], mid_idx)
    p3_1st, p3_2nd = break_chromosome(parents[2], mid_idx)
    p4_1st, p4_2nd = break_chromosome(parents[3], mid_idx)

    child_1 = p1_1st + p2_2nd
    child_2 = p2_1st + p1_2nd
    child_3 = p3_1st + p4_2nd
    child_4 = p4_1st + p3_2nd

    return child_1, child_2, child_3, child_4


def mutation(chromosome: list = None, chance: float = 0.1) -> list:
    '''
    Takes in two parameters. The chromosome and the probability (predefined).
    This function iterates over the chromosome index by index and for each
    index, if the random number generated is higher than the probability set
    by the algorithm, a randomly selected allele is fit into that specific
    index of the chromosome. After the iterations, it returns the chromosome.
    '''

    for i in range(len(globals()['room'])):
        if random.random() < chance:
            chromosome[i] = [random.choice(alleles) for i in range(len(globals()['time']))]

    return chromosome

### Driver Function

In [36]:
def genetic_algorithm(population: list = None, generations: int = 10) -> list:
    '''
    Takes in the initial population as its parameter. Then for the predefined
    amount of generations, it creates a new population in every iteration of
    generaion, while improving the overall fitness of each of the chromosomes
    present in the population. When the final generation is produced, which has
    the overall highest amount of fitness score, it selecs the best from among
    that generation and returns that chromosome.
    '''
    for generation in range(generations):

        temp_population = list()

        for i in range(globals()['population_size'] // 4):

            parents = selection(population)

            child_1, child_2, child_3, child_4 = crossover(parents)

            child_1 = mutation(child_1, probability)
            child_2 = mutation(child_2, probability)
            child_3 = mutation(child_3, probability)
            child_4 = mutation(child_4, probability)

            temp_population.extend([child_1, child_2, child_3, child_4])

        # Finding out the chromosome with the least fitness score in the newly created population and
        # saving its index, then inserting the chromosome with the highest fitness score in the old
        # population into that saved index.
        temp_population[population.index(min(population, key = fitness))] = max(population, key = fitness)
        population = temp_population

        if fitness(max(population, key = fitness)) == 100:
            print('Chromosome of maximum possible fitness found!')
            print('Generation: ', generation)
            return max(population, key = fitness)

    final_chromosome = max(population, key=fitness)

    return final_chromosome

### Main

In [38]:
# Creating an empty timetable dataframe for later use
timetable = pd.DataFrame(columns = time, index = room).rename_axis('Room')

# Reading the course allocation of different sheets and merging them into one
cs_df = create_and_clean_dataframe('Computing-Theory', r'Courses.xlsx')
sh_df = create_and_clean_dataframe('S&H', r'Courses.xlsx')
mg_df = create_and_clean_dataframe('MG', r'Courses.xlsx')
all_courses_df = pd.concat([cs_df,sh_df, mg_df], ignore_index = True)

# Creating all the possible alleles
alleles = list()
df_transpose = all_courses_df.transpose()
for i in df_transpose.columns:
    alleles.append(list(df_transpose[i]))

# Create the initial population (size predefined) of chromosomes (a single timetable)
population = list()
for i in range(population_size):
    chromosome = [[random.choice(alleles) for i in range(len(timetable.columns))] for j in range(len(timetable))]
    population.append(chromosome)

In [44]:
# Define the timetable slots for Monday
monday_timetable = {
    "08:30-11:30": [],
    "11:45-02:45": [],
    "03:00-06:00": []
}

# Initialize a dictionary to track assigned labs to each time slot
assigned_labs = {time_slot: [] for time_slot in monday_timetable}

# Shuffle the labs list to randomize the order of labs allocation
random.shuffle(labs)

# Iterate over each lab course and its sections
for course_name, sections in lab_sections.items():
    # Shuffle the sections to randomize their order
    random.shuffle(sections)

    # Check if there are available time slots for this course on Monday
    available_slots = [slot for slot in monday_timetable if not assigned_labs[slot]]
    if not available_slots:
        break  # No available slots left for this course, skip to the next course

    # Choose a random available time slot
    chosen_slot = random.choice(available_slots)

    '''
    # Assign labs, sections, and instructors to the chosen slot
    for section, instructor in zip(sections, lab_instructors[course_name]):
        lab_location = random.choice(labs)  # Choose a random lab location
        assigned_labs[chosen_slot].append((course_name, section, instructor, lab_location))
    '''
    lab_index = 0

    # Loop through sections and instructors
    for section, instructor in zip(sections, lab_instructors[course_name]):
      # Check if there are labs left in the list
      if lab_index < len(labs):
        # Assign the current lab location to the chosen slot
        lab_location = labs[lab_index]
        assigned_labs[chosen_slot].append((course_name, section, instructor, lab_location))

        # Move to the next lab location index
        lab_index += 1
      else:
        # Handle the case where there are no labs left in the list
        print("No labs left to assign.")

# Print the generated timetable
print("Labs Timetable for Monday:") #I did not have time to format it accordingly :(
for time_slot, labs_assigned in assigned_labs.items():
    print(f"{time_slot}: {labs_assigned}")

lab_assignments = []

# Convert the assigned_labs dictionary into a list of dictionaries
for time_slot, labs_assigned in assigned_labs.items():
    for lab_assignment in labs_assigned:
        lab_assignments.append({
            "Time Slot": time_slot,
            "Lab Course": lab_assignment[0],
            "Lab Section": lab_assignment[1],
            "Instructor": lab_assignment[2],
            "Lab Location": lab_assignment[3]
        })

# Convert the list of dictionaries into a pandas DataFrame
df2 = pd.DataFrame(lab_assignments)


# Style the DataFrame
styled_df2 = df2.style.set_properties(**{'background-color': '#26619C',
                                       'border': '2px black solid',
                                       'font-weight': 'bold',
                                       'text-align': 'left',
                                       'color': 'black'})

style = [
    dict(selector="caption", props=[('border', '2px black solid'),
                                     ('background-color', '#26619C'),
                                     ('text-align', 'center'),
                                     ('font-weight', 'bold'),
                                     ('font-size', '150%'),
                                     ('color', 'black')]),
    dict(selector='th', props=[('background-color', '#C9CFE0'),
                               ('border', '2px black solid'),
                               ('text-align', 'center'),
                               ('font-weight', 'bold')])
]


# Tuesday Labs
# Initialize a dictionary to track assigned labs to each time slot
assigned_labs_t = {time_slot: [] for time_slot in monday_timetable}

# Shuffle the labs list to randomize the order of labs allocation
random.shuffle(labs)

# Iterate over each lab course and its sections
for course_name, sections in lab_sections_t.items():
    # Shuffle the sections to randomize their order
    random.shuffle(sections)

    # Check if there are available time slots for this course on Monday
    available_slots_t = [slot for slot in monday_timetable if not assigned_labs_t[slot]]
    if not available_slots_t:
        break  # No available slots left for this course, skip to the next course

    # Choose a random available time slot
    chosen_slot_t = random.choice(available_slots_t)


    # Assign labs, sections, and instructors to the chosen slot
    for section, instructor in zip(sections, lab_instructors_t[course_name]):
        lab_location_t = random.choice(labs)  # Choose a random lab location
        assigned_labs_t[chosen_slot_t].append((course_name, section, instructor, lab_location_t))
    '''
    lab_index_t = 0

    # Loop through sections and instructors
    for section, instructor in zip(sections, lab_instructors_t[course_name]):
      # Check if there are labs left in the list
      if lab_index < len(labs):
        # Assign the current lab location to the chosen slot
        lab_location_t = labs[lab_index]
        assigned_labs_t[chosen_slot_t].append((course_name, section, instructor, lab_location_t))

        # Move to the next lab location index
        lab_index += 1
      else:
        # Handle the case where there are no labs left in the list
        print("No labs left to assign.")
      '''
# Print the generated timetable
print("Labs Timetable for Tuesday:") #I did not have time to format it accordingly :(
for time_slot, labs_assigned_t in assigned_labs_t.items():
    print(f"{time_slot}: {labs_assigned_t}")

lab_assignments_t = []

# Convert the assigned_labs dictionary into a list of dictionaries
for time_slot, labs_assigned_t in assigned_labs_t.items():
    for lab_assignment in labs_assigned_t:
        lab_assignments_t.append({
            "Time Slot": time_slot,
            "Lab Course": lab_assignment[0],
            "Lab Section": lab_assignment[1],
            "Instructor": lab_assignment[2],
            "Lab Location": lab_assignment[3]
        })

# Convert the list of dictionaries into a pandas DataFrame
df3 = pd.DataFrame(lab_assignments_t)


# Style the DataFrame
styled_df3 = df3.style.set_properties(**{'background-color': '#26619C',
                                       'border': '2px black solid',
                                       'font-weight': 'bold',
                                       'text-align': 'left',
                                       'color': 'black'})

style = [
    dict(selector="caption", props=[('border', '2px black solid'),
                                     ('background-color', '#26619C'),
                                     ('text-align', 'center'),
                                     ('font-weight', 'bold'),
                                     ('font-size', '150%'),
                                     ('color', 'black')]),
    dict(selector='th', props=[('background-color', '#C9CFE0'),
                               ('border', '2px black solid'),
                               ('text-align', 'center'),
                               ('font-weight', 'bold')])
]


# Wednesday Labs
# Initialize a dictionary to track assigned labs to each time slot
assigned_labs_w = {time_slot: [] for time_slot in monday_timetable}

# Shuffle the labs list to randomize the order of labs allocation
random.shuffle(labs)

# Iterate over each lab course and its sections
for course_name, sections in lab_sections_w.items():
    # Shuffle the sections to randomize their order
    random.shuffle(sections)

    # Check if there are available time slots for this course on Monday
    available_slots_w = [slot for slot in monday_timetable if not assigned_labs_w[slot]]
    if not available_slots_w:
        break  # No available slots left for this course, skip to the next course

    # Choose a random available time slot
    chosen_slot_w = random.choice(available_slots_w)


    # Assign labs, sections, and instructors to the chosen slot
    for section, instructor in zip(sections, lab_instructors_w[course_name]):
        lab_location_w = random.choice(labs)  # Choose a random lab location
        assigned_labs_w[chosen_slot_w].append((course_name, section, instructor, lab_location_w))
    '''
    lab_index_w = 0

    # Loop through sections and instructors
    for section, instructor in zip(sections, lab_instructors_w[course_name]):
      # Check if there are labs left in the list
      if lab_index < len(labs):
        # Assign the current lab location to the chosen slot
        lab_location_w = labs[lab_index]
        assigned_labs_w[chosen_slot_w].append((course_name, section, instructor, lab_location_w))

        # Move to the next lab location index
        lab_index += 1
      else:
        # Handle the case where there are no labs left in the list
        print("No labs left to assign.")
      '''
# Print the generated timetable
print("Labs Timetable for Wednesday:") #I did not have time to format it accordingly :(
for time_slot, labs_assigned_w in assigned_labs_w.items():
    print(f"{time_slot}: {labs_assigned_w}")

lab_assignments_w = []

# Convert the assigned_labs dictionary into a list of dictionaries
for time_slot, labs_assigned_w in assigned_labs_w.items():
    for lab_assignment in labs_assigned_w:
        lab_assignments_w.append({
            "Time Slot": time_slot,
            "Lab Course": lab_assignment[0],
            "Lab Section": lab_assignment[1],
            "Instructor": lab_assignment[2],
            "Lab Location": lab_assignment[3]
        })

# Convert the list of dictionaries into a pandas DataFrame
df4 = pd.DataFrame(lab_assignments_w)


# Style the DataFrame
styled_df4 = df4.style.set_properties(**{'background-color': '#26619C',
                                       'border': '2px black solid',
                                       'font-weight': 'bold',
                                       'text-align': 'left',
                                       'color': 'black'})

style = [
    dict(selector="caption", props=[('border', '2px black solid'),
                                     ('background-color', '#26619C'),
                                     ('text-align', 'center'),
                                     ('font-weight', 'bold'),
                                     ('font-size', '150%'),
                                     ('color', 'black')]),
    dict(selector='th', props=[('background-color', '#C9CFE0'),
                               ('border', '2px black solid'),
                               ('text-align', 'center'),
                               ('font-weight', 'bold')])
]



# Thursday Labs
# Initialize a dictionary to track assigned labs to each time slot
assigned_labs_th = {time_slot: [] for time_slot in monday_timetable}

# Shuffle the labs list to randomize the order of labs allocation
random.shuffle(labs)

# Iterate over each lab course and its sections
for course_name, sections in lab_sections_th.items():
    # Shuffle the sections to randomize their order
    random.shuffle(sections)

    # Check if there are available time slots for this course on Monday
    available_slots_th = [slot for slot in monday_timetable if not assigned_labs_th[slot]]
    if not available_slots_th:
        break  # No available slots left for this course, skip to the next course

    # Choose a random available time slot
    chosen_slot_th = random.choice(available_slots_th)


    # Assign labs, sections, and instructors to the chosen slot
    for section, instructor in zip(sections, lab_instructors_th[course_name]):
        lab_location_th = random.choice(labs)  # Choose a random lab location
        assigned_labs_th[chosen_slot_th].append((course_name, section, instructor, lab_location_th))
    '''
    lab_index_th = 0

    # Loop through sections and instructors
    for section, instructor in zip(sections, lab_instructors_th[course_name]):
      # Check if there are labs left in the list
      if lab_index < len(labs):
        # Assign the current lab location to the chosen slot
        lab_location_th = labs[lab_index]
        assigned_labs_th[chosen_slot_th].append((course_name, section, instructor, lab_location_th))

        # Move to the next lab location index
        lab_index += 1
      else:
        # Handle the case where there are no labs left in the list
        print("No labs left to assign.")
      '''
# Print the generated timetable
print("Labs Timetable for Thursday:") #I did not have time to format it accordingly :(
for time_slot, labs_assigned_th in assigned_labs_th.items():
    print(f"{time_slot}: {labs_assigned_th}")

lab_assignments_th = []

# Convert the assigned_labs dictionary into a list of dictionaries
for time_slot, labs_assigned_th in assigned_labs_th.items():
    for lab_assignment in labs_assigned_th:
        lab_assignments_th.append({
            "Time Slot": time_slot,
            "Lab Course": lab_assignment[0],
            "Lab Section": lab_assignment[1],
            "Instructor": lab_assignment[2],
            "Lab Location": lab_assignment[3]
        })

# Convert the list of dictionaries into a pandas DataFrame
df5 = pd.DataFrame(lab_assignments_th)


# Style the DataFrame
styled_df5 = df5.style.set_properties(**{'background-color': '#26619C',
                                       'border': '2px black solid',
                                       'font-weight': 'bold',
                                       'text-align': 'left',
                                       'color': 'black'})

style = [
    dict(selector="caption", props=[('border', '2px black solid'),
                                     ('background-color', '#26619C'),
                                     ('text-align', 'center'),
                                     ('font-weight', 'bold'),
                                     ('font-size', '150%'),
                                     ('color', 'black')]),
    dict(selector='th', props=[('background-color', '#C9CFE0'),
                               ('border', '2px black solid'),
                               ('text-align', 'center'),
                               ('font-weight', 'bold')])
]

Labs Timetable for Monday:
08:30-11:30: [('Digital Logic Design Lab (CS)', 'CS-2H', 'Ms. Ifrah Masood (EE)', 'C-Rawal 2'), ('Digital Logic Design Lab (CS)', 'CS-2E', 'Mr. Abdul Hannan', 'B-Digital'), ('Digital Logic Design Lab (CS)', 'CS-2B', 'Mr. Abdul Hannan1', 'C-Margalla 2'), ('Digital Logic Design Lab (CS)', 'CS-2J', 'Mr. Fakhar Abbas (EE)', 'C-GPU Lab'), ('Digital Logic Design Lab (CS)', 'CS-2D', 'Mr. Abdul Hannan2', 'A-CALL 2'), ('Digital Logic Design Lab (CS)', 'CS-2F', 'Ms. Ifrah Masood1 (EE)', 'A-Karakoram 1'), ('Digital Logic Design Lab (CS)', 'CS-2K', 'Mr. Fakhar Abbas1 (EE)', 'C-Rawal 3'), ('Digital Logic Design Lab (CS)', 'CS-2G', 'Mr. Abdul Hannan3', 'C-Rawal 1'), ('Digital Logic Design Lab (CS)', 'CS-2A', 'Mr. Fakhar Abbas1 (EE)', 'A-Karakoram 2'), ('Digital Logic Design Lab (CS)', 'CS-2C', 'Ms. Ifrah Masood2 (EE)', 'C-Margalla 1')]
11:45-02:45: [('Object Oriented Programming Lab (CS)', 'CS-2J', 'Ms. Sher Bano', 'C-Rawal 2'), ('Object Oriented Programming Lab (CS)', 'CS-2A', 'Ms. Sher Bano1', 'B-Digital'), ('Object Oriented Programming Lab (CS)', 'CS-2E', 'Ms. Amna Hassan', 'C-Margalla 2'), ('Object Oriented Programming Lab (CS)', 'CS-2G', 'Ms. Amna Hassan1', 'C-GPU Lab'), ('Object Oriented Programming Lab (CS)', 'CS-2B', 'Ms. Bushra Fatima Tariq', 'A-CALL 2'), ('Object Oriented Programming Lab (CS)', 'CS-2D', 'Ms. Amna Hassan2', 'A-Karakoram 1'), ('Object Oriented Programming Lab (CS)', 'CS-2C', 'Ms. Sher Bano2', 'C-Rawal 3'), ('Object Oriented Programming Lab (CS)', 'CS-Z', 'Ms. Bushra Fatima Tariq1', 'C-Rawal 1'), ('Object Oriented Programming Lab (CS)', 'CS-2F', 'Ms. Bushra Fatima Tariq2', 'A-Karakoram 2'), ('Object Oriented Programming Lab (CS)', 'CS-2K', 'Ms. Amna Hassan3', 'C-Margalla 1'), ('Object Oriented Programming Lab (CS)', 'CS-2H', 'Ms. Mahnoor Munir (Visiting)', 'C-Rawal 1')]
03:00-06:00: [('Object Oriented Programming Lab (AI)', 'AI-2D', 'Ms. Ansa Liaqat', 'C-Rawal 2'), ('Object Oriented Programming Lab (AI)', 'AI-2B', 'Ms. Khadija Mahmood', 'B-Digital'), ('Object Oriented Programming Lab (AI)', 'AI-2C', 'Ms. Ansa Liaqat1', 'C-Margalla 2'), ('Object Oriented Programming Lab (AI)', 'AI-2A', 'Ms. Khadija Mahmood1', 'C-GPU Lab')]
Labs Timetable for Tuesday:
08:30-11:30: [('Data Structures Lab (CS)', 'CS-3B', 'Ms. Sher Bano', 'A-Mehran 1'), ('Data Structures Lab (CS)', 'CS-3J', 'Ms. Sher Bano1', 'C-Rawal 2'), ('Data Structures Lab (CS)', 'CS-3H', 'Ms. Amna Hassan', 'A-CALL 3'), ('Data Structures Lab (CS)', 'CS-3G', 'Ms. Amna Hassan1', 'A-CALL 1'), ('Data Structures Lab (CS)', 'CS-3C', 'Ms. Bushra Fatima Tariq', 'C-Rawal 1'), ('Data Structures Lab (CS)', 'CS-3D', 'Ms. Amna Hassan2', 'C-Margalla 2'), ('Data Structures Lab (CS)', 'CS-3E', 'Ms. Sher Bano2', 'A-CALL 2'), ('Data Structures Lab (CS)', 'CS-3F', 'Ms. Bushra Fatima Tariq1', 'A-CALL 2'), ('Data Structures Lab (CS)', 'CS-3A', 'Ms. Bushra Fatima Tariq2', 'C-Rawal 1'), ('Data Structures Lab (CS)', 'CS-3K', 'Ms. Amna Hassan3', 'C-Rawal 4'), ('Data Structures Lab (CS)', 'CS-3', 'Ms. Mahnoor Munir (Visiting)', 'C-Rawal 2')]
11:45-02:45: [('Data Structures Lab (AI)', 'AI-3D', 'Ms. Ansa Liaqat', 'C-Margalla 2'), ('Data Structures Lab (AI)', 'AI-3C', 'Ms. Khadija Mahmood', 'A-Mehran 2'), ('Data Structures Lab (AI)', 'AI-3B', 'Ms. Ansa Liaqat1', 'C-Rawal 4'), ('Data Structures Lab (AI)', 'AI-3A', 'Ms. Khadija Mahmood1', 'C-Rawal 3')]
03:00-06:00: [('COAL Lab (CS)', 'CS-3J', 'Ms. Ifrah Masood (EE)', 'A-Karakoram 2'), ('COAL Lab (CS)', 'CS-3K', 'Mr. Abdul Hannan', 'C-GPU Lab'), ('COAL Lab (CS)', 'CS-3E', 'Mr. Abdul Hannan1', 'A-Mehran 1'), ('COAL Lab (CS)', 'CS-3D', 'Mr. Fakhar Abbas (EE)', 'C-Margalla 2'), ('COAL Lab (CS)', 'CS-3A', 'Mr. Abdul Hannan2', 'C-Rawal 1'), ('COAL Lab (CS)', 'CS-3H', 'Ms. Ifrah Masood1 (EE)', 'C-Rawal 1'), ('COAL Lab (CS)', 'CS-3C', 'Mr. Fakhar Abbas1 (EE)', 'A-Karakoram 2'), ('COAL Lab (CS)', 'CS-3G', 'Mr. Abdul Hannan3', 'A-Karakoram 3'), ('COAL Lab (CS)', 'CS-3F', 'Mr. Fakhar Abbas1 (EE)', 'A-Karakoram 2'), ('COAL Lab (CS)', 'CS-3B', 'Ms. Ifrah Masood2 (EE)', 'C-Margalla 3')]
Labs Timetable for Wednesday:
08:30-11:30: [('Operating Systems (CS)', 'CS-4B', 'Ms. Ifrah Masood (EE)', 'A-CALL 1'), ('Operating Systems (CS)', 'CS-4K', 'Mr. Abdul Hannan', 'C-Rawal 1'), ('Operating Systems (CS)', 'CS-4G', 'Mr. Abdul Hannan1', 'C-Margalla 3'), ('Operating Systems (CS)', 'CS-4F', 'Mr. Fakhar Abbas (EE)', 'A-Mehran 2'), ('Operating Systems (CS)', 'CS-4D', 'Mr. Abdul Hannan2', 'A-Karakoram 1'), ('Operating Systems (CS)', 'CS-4E', 'Ms. Ifrah Masood1 (EE)', 'C-Rawal 1'), ('Operating Systems (CS)', 'CS-4C', 'Mr. Fakhar Abbas1 (EE)', 'C-Rawal 1'), ('Operating Systems (CS)', 'CS-4J', 'Mr. Abdul Hannan3', 'C-Rawal 2'), ('Operating Systems (CS)', 'CS-4A', 'Mr. Fakhar Abbas1 (EE)', 'C-Rawal 1'), ('Operating Systems (CS)', 'CS-4H', 'Ms. Ifrah Masood2 (EE)', 'A-Mehran 1')]
11:45-02:45: [('Database Systems Lab (CS)', 'CS-4Y', 'Ms. Sher Bano', 'C-Margalla 1'), ('Database Systems Lab (CS)', 'CS-4H', 'Ms. Sher Bano1', 'C-Margalla 3'), ('Database Systems Lab (CS)', 'CS-4G', 'Ms. Amna Hassan', 'C-Rawal 1'), ('Database Systems Lab (CS)', 'CS-4J', 'Ms. Amna Hassan1', 'C-Rawal 3'), ('Database Systems Lab (CS)', 'CS-4C', 'Ms. Bushra Fatima Tariq', 'C-Margalla 2'), ('Database Systems Lab (CS)', 'CS-4B', 'Ms. Amna Hassan2', 'C-Margalla 3'), ('Database Systems Lab (CS)', 'CS-4A', 'Ms. Sher Bano2', 'C-Rawal 3'), ('Database Systems Lab (CS)', 'CS-4K', 'Ms. Bushra Fatima Tariq1', 'A-Karakoram 3'), ('Database Systems Lab (CS)', 'CS-4D', 'Ms. Bushra Fatima Tariq2', 'C-Margalla 2'), ('Database Systems Lab (CS)', 'CS-4F', 'Ms. Amna Hassan3', 'B-Digital'), ('Database Systems Lab (CS)', 'CS-4E', 'Ms. Mahnoor Munir (Visiting)', 'A-Karakoram 2')]
03:00-06:00: [('Database Systems Lab (AI)', 'AI-4D', 'Ms. Ansa Liaqat', 'A-Mehran 2'), ('Database Systems Lab (AI)', 'AI-4B', 'Ms. Khadija Mahmood', 'A-CALL 3'), ('Database Systems Lab (AI)', 'AI-4A', 'Ms. Ansa Liaqat1', 'C-Margalla 3'), ('Database Systems Lab (AI)', 'AI-4C', 'Ms. Khadija Mahmood1', 'A-Mehran 1')]
Labs Timetable for Thursday:
08:30-11:30: [('CPS Lab (CS)', 'CS-2J', 'Ms. Ifrah Masood (EE)', 'A-Mehran 1'), ('CPS Lab (CS)', 'CS-2A', 'Mr. Abdul Hannan', 'C-Margalla 2'), ('CPS Lab (CS)', 'CS-2G', 'Mr. Abdul Hannan1', 'A-CALL 2'), ('CPS Lab (CS)', 'CS-2E', 'Mr. Fakhar Abbas (EE)', 'C-GPU Lab'), ('CPS Lab (CS)', 'CS-2H', 'Mr. Abdul Hannan2', 'A-CALL 3'), ('CPS Lab (CS)', 'CS-2B', 'Ms. Ifrah Masood1 (EE)', 'C-GPU Lab'), ('CPS Lab (CS)', 'CS-2F', 'Mr. Fakhar Abbas1 (EE)', 'C-Rawal 4'), ('CPS Lab (CS)', 'CS-2C', 'Mr. Abdul Hannan3', 'C-Rawal 1'), ('CPS Lab (CS)', 'CS-2K', 'Mr. Fakhar Abbas1 (EE)', 'A-Mehran 2'), ('CPS Lab (CS)', 'CS-2D', 'Ms. Ifrah Masood2 (EE)', 'A-CALL 1')]
11:45-02:45: [('English Lab (AI)', 'AI-1A', 'Ms. Ansa Liaqat', 'C-Margalla 2'), ('English Lab (AI)', 'AI-1B', 'Ms. Khadija Mahmood', 'A-Mehran 1'), ('English Lab (AI)', 'AI-1D', 'Ms. Ansa Liaqat1', 'A-Mehran 2'), ('English Lab (AI)', 'AI-1C', 'Ms. Khadija Mahmood1', 'C-Margalla 2')]
03:00-06:00: [('Programming Fundamentals Lab (CS)', 'CS-1B', 'Ms. Sher Bano', 'C-Margalla 2'), ('Programming Fundamentals Lab (CS)', 'CS-1D', 'Ms. Sher Bano1', 'C-Margalla 2'), ('Programming Fundamentals Lab (CS)', 'CS-1A', 'Ms. Amna Hassan', 'C-Rawal 1'), ('Programming Fundamentals Lab (CS)', 'CS-1H', 'Ms. Amna Hassan1', 'A-Karakoram 2'), ('Programming Fundamentals Lab (CS)', 'CS-1G', 'Ms. Bushra Fatima Tariq', 'C-Rawal 2'), ('Programming Fundamentals Lab (CS)', 'CS-1Y', 'Ms. Amna Hassan2', 'C-Rawal 1'), ('Programming Fundamentals Lab (CS)', 'CS-1C', 'Ms. Sher Bano2', 'C-Margalla 2'), ('Programming Fundamentals Lab (CS)', 'CS-1K', 'Ms. Bushra Fatima Tariq1', 'A-CALL 2'), ('Programming Fundamentals Lab (CS)', 'CS-1F', 'Ms. Bushra Fatima Tariq2', 'A-CALL 1'), ('Programming Fundamentals Lab (CS)', 'CS-1J', 'Ms. Amna Hassan3', 'C-Margalla 1'), ('Programming Fundamentals Lab (CS)', 'CS-1E', 'Ms. Mahnoor Munir (Visiting)', 'A-Karakoram 2')]

In [45]:
# Creating an empty timetable dataframe for later use
timetable2 = pd.DataFrame(columns = time, index = room).rename_axis('Room')

# Reading the course allocation of different sheets and merging them into one
cs_df2 = create_and_clean_dataframe('Computing-Theory', r'Courses.xlsx')
sh_df2 = create_and_clean_dataframe('S&H', r'Courses.xlsx')
mg_df2 = create_and_clean_dataframe('MG', r'Courses.xlsx')
all_courses_df2 = pd.concat([cs_df2,sh_df2, mg_df2], ignore_index = True)

#print(all_courses_df2)

#### Run the algorithm

In [16]:
# Running the algorithm on the specific population and generation sizes
generated_timetable = genetic_algorithm(population, generations)

# Printing the fitness function result of the final generated timetable
print('Fitness score of the final timetable: ', end = '')
print(fitness(generated_timetable), '(max possible = 100)')

Chromosome of maximum possible fitness found!
Generation:  3232
Fitness score of the final timetable: 100 (max possible = 100)

#### Mapping the time table list to the dataframe

In [46]:
# Map generated timetable index by index to the dataframe
timetable = map_timetable_to_dataframe(timetable, generated_timetable)
#print(timetable)

In [47]:
timetable_str = timetable.to_string()

# Extract courses scheduled on Monday from the printed timetable
monday_courses = []
for row in timetable_str.split('\n'):
    if row.strip():  # Skip empty rows
        course_info = row.split()[-1]
        monday_courses.append(course_info)

# Filter out courses scheduled on Monday from all_courses_df2
unscheduled_courses = []
for _, row in all_courses_df2.iterrows():
    course_info = f"{row['S.#']} {row['Course']}"
    if course_info not in monday_courses:
        unscheduled_courses.append((row['Course'], row['S.#'], row['Course Instructor']))

# Create an empty Tuesday timetable
tuesday_timetable = [[None for _ in range(len(time))] for _ in range(len(room))]

# Randomly assign unscheduled courses to available time slots
available_slots = [(i, j) for i in range(len(room)) for j in range(len(time))]
random.shuffle(available_slots)

for course, section, instructor in unscheduled_courses:
    if not available_slots:
        break
    room_idx, time_idx = available_slots.pop()
    tuesday_timetable[room_idx][time_idx] = (course, section, instructor)

# Print the Tuesday timetable
'''
print("Tuesday Timetable:")
for room_idx, room_name in enumerate(room):
    print(f"{room_name}:", end=" ")
    for time_idx, slot in enumerate(tuesday_timetable[room_idx]):
        if slot:
            course, section, instructor = slot
            print(f"{course} ({section}) - {instructor}", end=" | ")
        else:
            print("-", end=" | ")
    print()
'''

tuesday_df = pd.DataFrame(tuesday_timetable, index=room, columns=time)

# Styling for the Tuesday timetable

style = tuesday_df.style.set_properties(**{'background-color': '#26619C',
                                       'border': '2px black solid',
                                       'font-weight': 'bold',
                                       'text-align': 'left',
                                       'color': 'black'})

style = [
    dict(selector="caption", props=[('border', '2px black solid'),
                                     ('background-color', '#26619C'),
                                     ('text-align', 'center'),
                                     ('font-weight', 'bold'),
                                     ('font-size', '150%'),
                                     ('color', 'black')]),
    dict(selector='th', props=[('background-color', '#26619C'),
                               ('border', '2px black solid'),
                               ('text-align', 'center'),
                               ('font-weight', 'bold')])]

#### Making the finalized timetable pandas dataframe i.e adding necessary borders, colours, etc

In [48]:
# Making the timetable in pandas dataframe format (adding caoptions and colours etc)
styled_df = timetable.style.set_properties(**{'background-color': '#26619C',
                                              'border': '2px black solid',
                                              'font-weight': 'bold',
                                              'text-align': 'left',
                                              'color': 'black'})

style = [dict(selector="caption", props=[('border', '2px black solid'),
                                         ('background-color', '#26619C'),
                                         ('text-align', 'center'),
                                         ('font-weight', 'bold'),
                                         ('font-size', '150%'),
                                         ('color', 'black')]),

         dict(selector='th', props=[('background-color', '#C9CFE0'),
                                    ('border', '2px black solid'),
                                    ('text-align', 'center'),
                                    ('font-weight', 'bold')])]


styled_df = styled_df.set_caption("FAST Timetable (Monday)").set_table_styles(style)
styled_df2 = styled_df2.set_caption("FAST Timetable (Monday LABS)").set_table_styles(style)

# Apply styling to the DataFrame
styled_tuesday_df = tuesday_df.style.set_caption("FAST Timetable (Tuesday)").set_table_styles(style)
styled_df3 = styled_df3.set_caption("FAST Timetable (Tuesday LABS)").set_table_styles(style)

#styled_df = styled_df.set_caption("FAST Timetable (Wednesday)").set_table_styles(style)
#styled_df4 = styled_df3.set_caption("FAST Timetable (Wednesday LABS)").set_table_styles(style)

#styled_tuesday_df = tuesday_df.style.set_caption("FAST Timetable (Thursday)").set_table_styles(style)

#### Outputting the finalized timetable dataframe

In [49]:
# Printing the timetable
styled_df

In [50]:
styled_df2
# Display the styled Tuesday timetable

In [51]:
# Display the styled Tuesday timetable
styled_tuesday_df

In [52]:
styled_df3

In [58]:
styled_df = styled_df.set_caption("FAST Timetable (Monday)").set_table_styles(style)
styled_df

In [53]:
styled_df4 = styled_df3.set_caption("FAST Timetable (Wednesday LABS)").set_table_styles(style)
styled_df4

In [57]:
styled_tuesday_df = tuesday_df.style.set_caption("FAST Timetable (Thursday)").set_table_styles(style)
styled_tuesday_df

In [55]:
styled_df5 = styled_df5.set_caption("FAST Timetable (Thursday LABS)").set_table_styles(style)
styled_df5

In [ ]:
fitness(generated_timetable)

100

### Thank You!